<nav class="sidebar">
  <ul class="sidebar-nav">
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li><a href="/admin/jobs">Manage Job</a></li>
    <li><a href="/admin/students">Manage Students</a></li>
    </ul>
</nav>
